* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  background-repeat: no-repeat;
}
.main-container {
  display: grid;
  grid-template-rows: 1fr 7fr;
  height: 100%;
}
.input-container {
  display: flex;
  justify-content: right;
  gap: 20px;
}
.weather-container {
  display: grid;
  grid-template-rows: 1fr 5fr 2fr;
}

.average-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.average-info > div {
  aspect-ratio: 1;
  width: 35%;
}
.averages {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.averages > div {
  flex-grow: 1;
}

.hourly-averages {
  display: flex;
}
.hourly-averages > div {
  display: flex;
  width: 100%;
}
.hourly-averages > div > div {
  width: 100%;
}
